# Copyright (c) 2020 Gavin Hurlbut
# SPDX-License-Identifier: Apache-2.0

config ADAFRUIT_SSD1306
	bool "Adafruit SSD1306 Library Support"
	depends on SSD1306
	help
	  This option enables the ported Adafruit_GFX and Adafruit_SSD1306 library.
